body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

header {
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}

nav {
  height: 32px;
  line-height: 32px;
  background-color: #ff6a89;
}

nav .brand-logo {
  font-size: 1.8rem;
}

nav .nav-wrapper {
  padding-left: 50px;
  padding-right: 50px;
}

#chart {
  width: 100%;
  height: 100%;
}

#fixed-links-container {
  position: absolute;
  z-index: 99;
  margin-left: 20px;
}

.fixed-links {
  position: relative;
  text-align: right;
  margin: 10px;
}

.fixed-links a {
  margin: 0 3px;
  font-size: 16px;
}

.fixed-links .highlight {
  color: #FF5733;
  font-weight: bold;
  text-decoration: underline;
}

.right-top {
  right: 0;
  top: 5px;
}

#fixed-links-container.right-top {
  margin-right: 80px;
}