#grid-container {
  width: 100%;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: max-content;
}

td, th {
  padding: 0;
  white-space: nowrap;
  min-width: 100px;
  position: relative;
  cursor: pointer;
}

th {
  color: white;
  background-color: #ff4545;
  position: sticky;
  top: 0;
}

::-webkit-scrollbar {
  display: none;
}

.highlight {
  color: #FF5733;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

#fixed-links {
  margin: 10px;
}


.dot::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8px;
  height: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.red-dot1::after {
  background-color: #FF8800;
}

.red-dot2::after {
  background-color: #ff0000;
}

.red-dot3::after {
  background-color: #f500ff;
}

.green-dot1::after {
  background-color: #00f7ff;
}

.green-dot2::after {
  background-color: #00ff00;
}

.green-dot3::after {
  background-color: #1619de;
}

#tooltip {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 20px;
}

#tooltip-trend {
  position: fixed;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 20px;
  width: 1660px;
  height: 340px;
}

#chartDialog {
  height: 80%;
  width: 80%;
  border: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  padding: 0;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 30px;
  font-weight: bolder;
  color: red;
}

.select-cell {
  border: 3px solid red;
}