  <script src="/static/third/klinecharts.min.js"></script>
  <script>
    let chart = klinecharts.init('chart', {
      timezone: 'Asia/Shanghai',
      customApi: {
        formatDate: function (dateTimeFormat, timestamp, format, type) {
          return timestamp
        }
      }
    })
    chart._chartStore._timeScaleStore.setBarSpaceLimitConfig(0.01, 20)
    chart.createIndicator({
      name: 'MA',
      precision: 3,
      calcParams: [5, 10, 20, 60, 240, 480, 960],
      styles: {
        lines: [
          {style: 'solid', size: 0.5, color: '#930606'},
          {style: 'solid', size: 0.5, color: '#ECAB07'},
          {style: 'solid', size: 0.5, color: '#EF15DE'},
          {style: 'solid', size: 1, color: '#16DE45'},
          {style: 'solid', size: 0.5, color: '#6E28E5'},
          {style: 'solid', size: 0.5, color: '#E50B33'},
          {style: 'solid', size: 0.5, color: '#16B9DE'},
        ]
      }
    }, false, {id: 'candle_pane'})
    chart.createIndicator('VOL')
    chart.createIndicator('MACD')
    chart.setStyles({
      // 网格线
      grid: {
        show: true,
        horizontal: {
          show: true,
          size: 1,
          color: '#F0F0F0',
          style: 'solid',
        },
        vertical: {
          show: true,
          size: 1,
          color: '#F0F0F0',
          style: 'solid',
        }
      },
      candle: {
        // 蜡烛图类型 'candle_solid'|'candle_stroke'|'candle_up_stroke'|'candle_down_stroke'|'ohlc'|'area'
        type: 'candle_solid',
        bar: {
          upColor: '#F23644',
          downColor: '#0A9981',
          noChangeColor: '#888888',
          upBorderColor: '#F23644',
          downBorderColor: '#0A9981',
          noChangeBorderColor: '#888888',
          upWickColor: '#F23644',
          downWickColor: '#0A9981',
          noChangeWickColor: '#888888'
        },
      },
      indicator: {
        bars: [{
          // 'fill' | 'stroke' | 'stroke_fill'
          style: 'fill',
          // 'solid' | 'dashed'
          borderStyle: 'solid',
          borderSize: 1,
          borderDashedValue: [2, 2],
          upColor: '#F23644',
          downColor: '#0A9981',
          noChangeColor: '#888888'
        }],
        lastValueMark: {
          show: true,
        },
      }
    });

    chart._chartStore.getTimeScaleStore().zoom(1000)
    chart.applyNewData({{ kline_list | tojson }})


    function resizeChart() {
      chart.resize()
    }

    window.addEventListener('resize', resizeChart);
    window.addEventListener('load', resizeChart);
  </script>