<script src="/static/third/klinecharts.min.js"></script>
<script>
  let chart = klinecharts.init('chart', {
    timezone: 'Asia/Shanghai',
    customApi: {
      formatDate: function (dateTimeFormat, timestamp, format, type) {
        return timestamp
      }
    }
  })
  chart._chartStore._timeScaleStore.setBarSpaceLimitConfig(0.01, 20)
  chart.createIndicator('VOL')
  chart.createIndicator('MACD')
  chart.setStyles({
    // 网格线
    grid: {
      show: true,
      horizontal: {
        show: true,
        size: 1,
        color: '#F0F0F0',
        style: 'solid',
      },
      vertical: {
        show: true,
        size: 1,
        color: '#F0F0F0',
        style: 'solid',
      }
    },
    candle: {
      // 蜡烛图类型 'candle_solid'|'candle_stroke'|'candle_up_stroke'|'candle_down_stroke'|'ohlc'|'area'
      type: 'candle_solid',
      bar: {
        upColor: '#F23644',
        downColor: '#0A9981',
        noChangeColor: '#888888',
        upBorderColor: '#F23644',
        downBorderColor: '#0A9981',
        noChangeBorderColor: '#888888',
        upWickColor: '#F23644',
        downWickColor: '#0A9981',
        noChangeWickColor: '#888888'
      },
    },
    indicator: {
      bars: [{
        // 'fill' | 'stroke' | 'stroke_fill'
        style: 'fill',
        // 'solid' | 'dashed'
        borderStyle: 'solid',
        borderSize: 1,
        borderDashedValue: [2, 2],
        upColor: '#F23644',
        downColor: '#0A9981',
        noChangeColor: '#888888'
      }],
      lastValueMark: {
        show: true,
      },
    }
  });

  chart.setPaneOptions({
    id: 'candle_pane',
    gap: {top: 0, bottom: 0},
  })

  chart._chartStore.getTimeScaleStore().zoom(1000)

  let kline_list = {{ kline_list | safe }};
  kline_list = kline_list.map(convertKlineData);
  chart.applyNewData(kline_list);

  function resizeChart() {
    chart.resize();
  }

  function convertKlineData(item) {
    return {
      timestamp: item.time,
      open: item.open,
      high: item.high,
      low: item.low,
      close: item.close,
      volume: item.volume,
    }
  }

  window.addEventListener('resize', resizeChart);
  window.addEventListener('load', resizeChart);

  {% if request_args.date %}
    (function() {
      let date = '{{ request_args.date }}';
      if (! /^\d{4}-\d{2}-\d{2}$/.test(date)) return;
      let dateRage = getStartAndEndTime(date);
      chart.createOverlay({
        name: 'verticalSegment',
        points: [{timestamp: dateRage.startTime, value: 0}, {timestamp: dateRage.startTime, value: 9999}],
        groupId: 'range',
        lock: true,
        styles: {
          line: {
            color: 'rgb(241,4,237)',
            style: 'dashed',
            dashedValue: [5, 10],
            zLevel: 0,
          }
        },
      });
      chart.createOverlay({
        name: 'verticalSegment',
        points: [{timestamp: dateRage.endTime, value: 0}, {timestamp: dateRage.endTime, value: 9999}],
        groupId: 'range',
        lock: true,
        styles: {
          line: {
            color: 'rgb(0,89,255)',
            style: 'dashed',
            dashedValue: [5, 10],
            zLevel: -100,
          }
        },
      });

      const index = kline_list.findIndex(item => timeCompare(dateRage.endTime, item.timestamp));
      chart.scrollToDataIndex(index + 160);
    })();

    function timeCompare(timeString1, timeString2) {
      console.log(timeString1, timeString2);
      let time1 = new Date(timeString1);
      let time2 = new Date(timeString2);

      return time2 >= time1;
    }

    function getStartAndEndTime(date) {
      return {startTime: `${date} 09:35:00`, endTime: `${date} 15:00:00`};
    }
  {% endif %}

</script>
{% if request_args is defined and request_args.show_chan %}
  {% include "_chart_kline_chan.html" %}
{% else %}
  <script>
    chart.createIndicator({
      name: 'MA',
      precision: 3,
      calcParams: indicator_ma_config.map(item => item.period),
      styles: {
        lines: indicator_ma_config.map(item => ({style: 'solid', size: item.size * 0.8, color: item.color})),
      }
    }, false, {id: 'candle_pane'})
  </script>
{% endif %}
