<script src="/static/third/klinecharts.min.js"></script>
<script>
  let chart = klinecharts.init('chart', {
    timezone: 'Asia/Shanghai',
    customApi: {
      formatDate: function (dateTimeFormat, timestamp, format, type) {
        return timestamp
      }
    }
  })
  chart._chartStore._timeScaleStore.setBarSpaceLimitConfig(0.01, 20)
  chart.createIndicator('VOL')
  chart.createIndicator('MACD')
  chart.setStyles({
    // 网格线
    grid: {
      show: true,
      horizontal: {
        show: true,
        size: 1,
        color: '#F0F0F0',
        style: 'solid',
      },
      vertical: {
        show: true,
        size: 1,
        color: '#F0F0F0',
        style: 'solid',
      }
    },
    candle: {
      // 蜡烛图类型 'candle_solid'|'candle_stroke'|'candle_up_stroke'|'candle_down_stroke'|'ohlc'|'area'
      type: 'candle_solid',
      bar: {
        upColor: '#F23644',
        downColor: '#0A9981',
        noChangeColor: '#888888',
        upBorderColor: '#F23644',
        downBorderColor: '#0A9981',
        noChangeBorderColor: '#888888',
        upWickColor: '#F23644',
        downWickColor: '#0A9981',
        noChangeWickColor: '#888888'
      },
    },
    indicator: {
      bars: [{
        // 'fill' | 'stroke' | 'stroke_fill'
        style: 'fill',
        // 'solid' | 'dashed'
        borderStyle: 'solid',
        borderSize: 1,
        borderDashedValue: [2, 2],
        upColor: '#F23644',
        downColor: '#0A9981',
        noChangeColor: '#888888'
      }],
      lastValueMark: {
        show: true,
      },
    }
  });

  chart._chartStore.getTimeScaleStore().zoom(1000)

  let kline_list = {{ kline_list | safe }};
  kline_list = kline_list.map(convertKlineData);
  chart.applyNewData(kline_list);

  function resizeChart() {
    chart.resize();
  }

  function convertKlineData(item) {
    return {
      timestamp: item.time,
      open: item.open,
      high: item.high,
      low: item.low,
      close: item.close,
      volume: item.volume,
    }
  }

  window.addEventListener('resize', resizeChart);
  window.addEventListener('load', resizeChart);
</script>
{% if request_args.show_chan %}
  {% include "_chart_kline_chan.html" %}
{% else %}
  <script>
    chart.createIndicator({
      name: 'MA',
      precision: 3,
      calcParams: indicator_ma_config.map(item => item.period),
      styles: {
        lines: indicator_ma_config.map(item => ({ style: 'solid', size: item.size, color: item.color })),
      }
    }, false, {id: 'candle_pane'})
  </script>
{% endif %}
