<script type="text/javascript" src="/static/klinecharts_overlay.js"></script>
<script>
  let chan_data = {{ chan_data | safe }};
  let show_ma = chan_data.show_ma;
  let show_debug = chan_data.show_debug;
  let overlayGroup = {};

  function addOverlay(item) {
    if (overlayGroup[item.groupId]) {
      overlayGroup[item.groupId].push(item.id);
    } else {
      overlayGroup[item.groupId] = [item.id];
    }
    chart.createOverlay(item);
  }

  chan_data.bar_union_list?.forEach(item => addOverlay(barUnionOverlayData(item)));
  chan_data.fractal_list?.forEach(item => addOverlay(fractalOverlayData(item)));
  chan_data.stroke_list?.forEach(item => addOverlay(strokeOverlayData(item)));
  chan_data.stroke_list?.forEach(item => addOverlay(strokeBarOverlayData(item)));
  chan_data.segment_list?.forEach(item => addOverlay(segmentOverlayData(item)));
</script>

  <script>
    if (show_ma) {
      let chanIndicatorMaConfig = [
        {size: 1, color: '#b700ff', period: 15,},
        {size: 1, color: '#0066ff', period: 60,},
        {size: 1, color: '#E70F7C', period: 432,},
      ]
      chart.createIndicator({
        name: 'MA',
        precision: 3,
        calcParams: chanIndicatorMaConfig.map(item => item.period),
        styles: {
          lines: chanIndicatorMaConfig.map(item => ({style: 'solid', size: item.size, color: item.color})),
        }
      }, false, {id: 'candle_pane'});
    }
  </script>