<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="/static/global.css">
    <script src="/static/pace.min.js"></script>
    <link rel="stylesheet" href="/static/pace-flash.css">
</head>
<body>
<header>
    <div id="nav-bar">
      <div class="logo"><a href="/">韭菜收割机</a></div>
      <ul class="horizontal-menu">
        {% for menu in menus %}
          <li {% if menu.url == request.path %}class="active"{% endif %}>
            <a href="{{ menu.url }}" {% if menu.type == 'external' %}target="_blank"{% endif %}>{{ menu.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
{% block footer %}
{% endblock %}
</body>
</html>