<div class="fixed-action-btn z-depth-5" style="top: 0; right: 10px; height: 40px">
  <a class="btn-floating btn waves-effect waves-light orange" onclick="openRelateKlineMode()">
    K线
  </a>
</div>

<script src="/static/third/socket.io.min.js"></script>
<script>
  let socket = null;
  let socketToken = '{{ request.args.get('socket_token', '') }}';

  if (socketToken) {
    socket = io.connect(`http://${document.domain}:${location.port}`);
    socket.on('message_from_client1', function (message) {
      if (message.socketToken !== socketToken) return;
      let cell = processMove(message.key);
      if (cell) {
        let symbol = cell.getAttribute('symbol') ?? '';
        let headName = getCellHeadName(cell);
        let date = /^\d{4}-\d{2}-\d{2}$/.test(headName) ? headName : '';
        socketEmit(symbol, date);
      }
    });
  }
</script>
<script src="/static/socket_utils.js"></script>
