{% extends '_layout.html' %}
{% block head %}
  <title>K线图</title>
  <style>
    .fixed-links .symbol-name {
      font-size: 20px;
    }

    .fixed-links .symbol {
      font-size: 15px;
    }

    #tooltip-stock-info {
      position: fixed;
      display: none;
      height: 400px;
      z-index: 99;
    }

    #tooltip-stock-info .card-panel {
      height: 400px;
    }
  </style>
{% endblock %}
{% block content %}
  <div id="chart"></div>

  <script>
    const indicator_ma_config = {{ indicator_config.get('ma', []) | safe }};
    const indicator_macd_config = {{ indicator_config.get('macd', []) | safe }};
  </script>

  {% include "_chart_kline.html" %}
{% endblock %}
{% block footer %}
  <script>
    klinecharts.registerOverlay({
      name: 'myAnnotation',
      totalStep: 2,
      createPointFigures: ({overlay, coordinates}) => {
        return [
          {
            type: 'text',
            attrs: {
              x: coordinates[0].x,
              y: coordinates[0].y,
              text: overlay.extendData.direction ? '⬇' : '⬆',
              align: 'center',
              baseline: overlay.extendData.direction ? 'bottom' : 'top',
            },
            ignoreEvent: true
          },
          {
            type: 'text',
            attrs: {
              x: coordinates[0].x,
              y: coordinates[0].y + 16 * (overlay.extendData.direction ? -1 : 1),
              text: overlay.extendData.text ?? '',
              align: 'center',
              baseline: overlay.extendData.direction ? 'bottom' : 'top',
            },
            ignoreEvent: true,
          }
        ]
      },
    });

    const backtest_trades = {{ backtest_trades | safe }}
      function markPointOverlayData(item) {
        return {
          name: 'myAnnotation',
          groupId: 'mark_point',
          extendData: {
            direction: item.action === 'BUY',
            text: item.action.charAt(0).toUpperCase(),
          },
          lock: true,
          points: [{timestamp: item.date, value: item.price}],
          styles: {
            text: {
              color: item.action === 'BUY' ? '#ff00b7' : '#6e28e5',
              size: 16,
            }
          },
        }
      }

    backtest_trades.forEach(function (item) {
      chart.createOverlay(markPointOverlayData(item));
    });
  </script>
{% endblock %}