{% extends '_layout.html' %}
{% block head %}
  <title>K线图</title>
  <style>
    .fixed-links .symbol-name {
      font-size: 20px;
    }

    .fixed-links .symbol {
      font-size: 15px;
    }

    #tooltip-stock-info {
      position: fixed;
      display: none;
      height: 400px;
      z-index: 99;
    }

    #tooltip-stock-info .card-panel {
      height: 400px;
    }
  </style>
{% endblock %}
{% block content %}
  <div id="chart"></div>

  <script>
    const indicator_ma_config = {{ indicator_config.get('ma', []) | safe }};
    const indicator_macd_config = {{ indicator_config.get('macd', []) | safe }};
  </script>

  {% include "_chart_kline.html" %}
{% endblock %}
{% block footer %}
  <script>
    const backtest_trades = {{ backtest_trades | safe }}
    function markPointOverlayData(item) {
      return {
        name: 'simpleAnnotation',
        groupId: 'mark_point',
        extendData: item.action.charAt(0).toUpperCase(),
        lock: true,
        points: [{timestamp: item.date, value: item.price}],
        styles: {
          text: {
            backgroundColor: '#1677FF',
            size: 20,
          }
        },
      }
    }

    backtest_trades.forEach(function (item) {
      console.log(item, markPointOverlayData(item))
      chart.createOverlay(markPointOverlayData(item));
    });
  </script>
{% endblock %}