{% extends '_layout.html' %}
{% block head %}
  <title>K线图</title>
  <style>
    .fixed-links .symbol-name {
      font-size: 20px;
    }

    .fixed-links .symbol {
      font-size: 15px;
    }
  </style>
{% endblock %}
{% block content %}
  <div id="fixed-links-container" class="right-top">
    <div class="fixed-links">
      {% for period_key, period_name in period_list.items() %}
        {{ create_link(request_args, {'period': period_key}, request_args.period == period_key, period_name) | safe }}
      {% endfor %}
      {{ create_link(request_args, {'req_real': (not request_args.req_real)}, request_args.req_real == 1, '实时') | safe }}
      {{ create_link(request_args, {'chart_engine': (not request_args.chart_engine), 'show_chan': 0}, request_args.chart_engine == 0, 'TV') | safe }}
      {{ create_link(request_args, {'show_chan': (not request_args.show_chan)}, request_args.show_chan == 1, '缠论') | safe }}
      <a href="#" target="_blank">新窗口</a>
    </div>
    <div class="fixed-links">
      <span class="symbol">{{ request_args.symbol }} - </span><span class="symbol-name">{{ ticker_name }}</span>
    </div>
  </div>

  <script>
    if (window.self !== window.top) {
      let headerElement = document.querySelector('header');
      if (headerElement) {
        headerElement.style.display = 'none';
      }
    }
  </script>

  <div id="chart"></div>

  <script src="/static/indicator_config.js"></script>
  {% if request_args.chart_engine == 0 %}
    {% include "_chart_tradingview.html" %}
  {% else %}
    {% include "_chart_kline.html" %}
  {% endif %}


  {% include "_search_dialog.html" %}

{% endblock %}
{% block footer %}
  <script>
    function communicateParent(event) {
      if (['Escape'].includes(event.code)) {
        window.parent.postMessage('close_me', '*');
      }
      if (['ArrowRight', 'ArrowDown', 'ArrowLeft', 'ArrowUp'].includes(event.code)) {
        window.parent.postMessage(`${event.code}`, '*');
      }
    }
    document.addEventListener('keydown', function () {
      if (!$('#search-dialog').hasClass('open')) {
        if (['Space'].includes(event.code)) {
          openSearchDialog();
          return;
        }
        if (window.self !== window.top) {
          communicateParent(event);
          return;
        }
      }

    });
  </script>
{% endblock %}