{% extends '_layout.html' %}
{% block head %}
  <title>K线图</title>
  <style>
    #chart {
      height: 100%;
    }

    #fixed-links1 {
      position: absolute;
      top: 0;
      right: 0;
      margin: 20px 100px;
      z-index: 99;
    }

    #fixed-links1 a {
      margin: 0 2px;
    }

    #fixed-links2 {
      position: absolute;
      top: 50px;
      right: 0;
      margin: 20px 100px;
      z-index: 99;
    }

    #fixed-links2 .symbol-name {
      font-size: 30px;
    }

    #fixed-links2 .symbol {
      font-size: 20px;
    }

    .highlight {
      color: #FF5733;
      font-weight: bold;
      font-size: 20px;
      text-decoration: underline;
    }
  </style>
{% endblock %}
{% block content %}
  <div id="fixed-links1">
    {% for period_key, period_name in period_list.items() %}
      <a href="/chart?symbol={{ symbol }}&period={{ period_key }}&req_real={{ req_real }}&chart={{ chart_engine }}" {% if period_key == period %}class="highlight"{% endif %}>{{ period_name }}</a>
    {% endfor %}
    <a href="/chart?symbol={{ symbol }}&period={{ period }}&req_real=0&chart={{ chart_engine }}" {% if req_real == 0 %}class="highlight"{% endif %}>本地</a>
    <a href="/chart?symbol={{ symbol }}&period={{ period }}&req_real=1&chart={{ chart_engine }}" {% if req_real == 1 %}class="highlight"{% endif %}>实时</a>
    <a href="/chart?symbol={{ symbol }}&period={{ period }}&req_real=1&chart={{ (not chart_engine) | int }}">切换</a>
  </div>
  <div id="fixed-links2">
    <span class="symbol">{{ symbol }} - </span><span class="symbol-name">{{ symbol_name }}</span>
  </div>
  <script>
    if (window.self !== window.top) {
      let headerElement = document.querySelector('header');
      if (headerElement) {
        headerElement.style.display = 'none';
      }
    }
  </script>
  <div id="chart"></div>


  {% if chart_engine == 0 %}
    {% include "_chart_tradingview.html" %}
  {% else %}
    {% include "_chart_kline.html" %}
  {% endif %}


  {% include "_search_dialog.html" %}

{% endblock %}
{% block footer %}
  <script>
    document.addEventListener('keydown', function () {
      if (!$('#search-dialog').hasClass('open')) {
        if (['Escape', 'Space'].includes(event.code)) {
          window.parent.postMessage('close_me', '*');
        }
        if (['ArrowRight', 'ArrowDown', 'ArrowLeft', 'ArrowUp'].includes(event.code)) {
          window.parent.postMessage(`${event.code}`, '*');
        }
      }
    });
  </script>
{% endblock %}