{% extends '_layout.html' %}
{% block head %}
  <title>概念板块大势榜</title>
  <style>
    .table-empty1 {
      background-color: red;
      border-color: red;
      height: 3px;
    }

    .table-empty2 {
      background-color: #ffb700;
      border-color: #ffb700;
      height: 3px;
    }

    .table-empty3 {
      background-color: #2fff00;
      border-color: #2fff00;
      height: 3px;
    }
  </style>
  <link rel="stylesheet" href="/static/data_table.css">
{% endblock %}
{% block content %}
  <div id="fixed-links-container" class="right-top">
    <div class="fixed-links">
      {% for key, value in data_type_list.items() %}
        {{ create_link(request_args, {'data_type':key}, request_args.data_type == key, value) | safe }}
      {% endfor %}
    </div>
    <div class="fixed-links">
      {% for value in year_list %}
        {{ create_link(request_args, {'year':value}, request_args.year == value, value) | safe }}
      {% endfor %}
    </div>
  </div>

  <dialog id="chartDialog" style="overflow: hidden;">
    <span class="close-button" onclick="closeDialog()">×</span>
    <iframe id="iframeContent" style="width: 100%; height: 100%; border: none;"></iframe>
  </dialog>

  <div id="grid-container">
    <table id="grid" class="striped centered"></table>
    <div id="tooltip" style="display:none;"></div>
    <div id="tooltip-trend" style="display:none;"></div>
  </div>
{% endblock %}
{% block footer %}
  <script src="/static/data_table.js"></script>
  <script>
    let data = {{ data | safe }};
    const KLINE_PERIOD = 'D';

    renderGrid(data);

    function addDotClass(element, value) {
      let price = value[2]
      const dotClasses = [
        {'condition': price >= 6, 'className': 'red-dot3'},
        {'condition': price >= 3, 'className': 'red-dot2'},
        {'condition': price >= 1, 'className': 'red-dot1'},
        {'condition': price <= -6, 'className': 'green-dot3'},
        {'condition': price <= -3, 'className': 'green-dot2'},
        {'condition': price <= -1, 'className': 'green-dot1'},

      ];
      dotClasses.forEach((dotClass) => {
        if (dotClass.condition) {
          element.classList.add('dot', dotClass.className);
        }
      });
    }
  </script>

  {% include "_table_socket.html" %}
{% endblock %}