{% extends '_layout.html' %}
{% block head %}
<title>概念板块大势榜</title>
<style>
    .table-empty1 {
        background-color: red;
        border-color: red;
    }

    .table-empty2 {
        background-color: #ffb700;
        border-color: #ffb700;
    }

    .table-empty3 {
        background-color: #2fff00;
        border-color: #2fff00;
    }
</style>
<link rel="stylesheet" href="/static/table.css">
{% endblock %}
{% block content %}
<div class="fixed-links">
    {% for value in year_list %}
        <a href="?year={{ value }}" {% if value == year %}class="highlight"{% endif %}>{{ value }}</a>
    {% endfor %}
</div>

<dialog id="myDialog" style="overflow: hidden;">
    <span class="close-button" onclick="closeDialog()">×</span>
    <iframe id="iframeContent" style="width: 100%; height: 100%; border: none;"></iframe>
</dialog>

<div id="grid-container">
    <table id="grid" class="striped"></table>
    <div id="tooltip" style="display:none;"></div>
    <div id="tooltip-trend" class="tooltip-big" style="display:none;"></div>
</div>
{% endblock %}
{% block footer %}
<script src="/static/table.js"></script>
<script>
    let data = {{ data | safe }};
    const KLINE_PERIOD = 'D';

    renderGrid(data);

    function addDotClass(element, value) {
        let price = value[2]
        const dotClasses = [
            {'condition': price >= 6, 'className': 'red-dot3'},
            {'condition': price >= 3, 'className': 'red-dot2'},
            {'condition': price >= 1, 'className': 'red-dot1'},
            {'condition': price <= -1, 'className': 'green-dot1'},
            {'condition': price <= -3, 'className': 'green-dot2'},
            {'condition': price <= -6, 'className': 'green-dot3'},
        ];
        dotClasses.forEach((dotClass) => {
            if (dotClass.condition) {
                element.classList.add('dot', dotClass.className);
            }
        });
    }
</script>
{% endblock %}