{% extends '_layout.html' %}
{% block head %}
  <title>连板梯队</title>
  <link rel="stylesheet" href="/static/data_table.css">
  <style>
    .red-dot1::after {
      background-color: #ff8a80;
    }

    .red-dot2::after {
      background-color: #f50057;
    }

    .red-dot3::after {
      background-color: #d500f9;
    }

    .green-dot1::after {
      background-color: #40c4ff;
    }

    .green-dot2::after {
      background-color: #00e676;
    }

    .green-dot3::after {
      background-color: #ffee58;
    }

    #tooltip {
      color: #f1f8e9;
      background-color: #5E00B2FF;
    }

    #tooltip-trend {
      width: 100%;
      height: 400px;
    }

    #tooltip-trend > div {
      height: 400px;
      width: 25%;
    }

    #tooltip-trend > img {
      height: 400px;
      width: 25%;
    }

    #main-grid td span.empty {
      font-style: italic;
      font-size: 8px;
      color: #b0b080;
    }

    #main-grid td span.interrupt {
      font-style: normal;
      font-size: 12px;
      color: #773fec;
    }

    #main-grid tr:nth-child(3) {
      border-bottom: 1px solid rgba(255, 0, 0, 0.5);
    }

    #main-grid tr:nth-child(6) {
      border-bottom: 1px solid rgba(255, 0, 0, 0.5);
    }

    #main-grid tr:nth-child(9) {
      border-bottom: 1px solid rgba(255, 0, 0, 0.5);
    }

    #stock-grid {
      position: fixed;
      overflow-y: scroll;
      min-height: 600px;
      max-height: 600px;
      bottom: 0;
      background-color: rgb(217, 255, 251);
      transform: translateX(-50%);
      left: 50%;
    }

    #stock-grid tr:hover {
      background-color: rgba(0, 139, 125, 0.5);
    }

    #hot-lose-grid {
      background-color: rgb(176, 255, 196);
    }

  </style>
{% endblock %}
{% block content %}

  <div id="grid-container">
    <table id="main-grid" class="striped centered"></table>
    <table id="hot-lose-grid" class="striped centered"></table>
    <table id="stock-grid" class="striped centered z-depth-5" style="display: none;">
      <thead>
      <tr>
        <th data-k="symbol">股票代码</th>
        <th data-k="name">股票名称</th>
        <th data-k="limit_ts">封停时间</th>
        <th data-k="last_limit_ts">最后封停时间</th>
        <th data-k="const_desc">连板描述</th>
        <th data-k="const_num">连板数</th>
        <th data-k="master_net_amount">主力净额</th>
        <th data-k="amount">成交额</th>
        <th data-k="act_turnover">实际换手</th>
        <th data-k="act_flow_amount">实际流通</th>
        <th data-k="block">板块</th>
        <th data-k="reason">涨停原因</th>
        <th data-k="limit_amount">封单</th>
        <th data-k="max_limit_amount">最大封单</th>
        <th data-k="together_num">同涨停数</th>
      </tr>
      </thead>
      <tbody></tbody>
    </table>
    <br>
    <br>
    <br>
    <div id="tooltip" style="display:none;"></div>
    <div id="tooltip-trend" style="display:none;"></div>
  </div>

  <div class="fixed-action-btn z-depth-5" style="top: 0; right: 10px; height: 40px">
    <a class="btn-floating btn waves-effect waves-light orange" onclick="switchTable()">
      切换
    </a>
  </div>

{% endblock %}
{% block footer %}
  <script src="/static/third/jquery-3.7.1.min.js"></script>
  <script>
    let focusMode = 'free';
    let table = document.getElementById('main-grid');
    let tooltipTrend = document.getElementById('tooltip-trend');
    let selectedCell = null;
    let stockTable = document.getElementById('stock-grid');

    let total_stock_list = {};
    let stockListInTable = [];

    fetch(`/limited_power2_data`).then(response => response.json())
      .then(dataList => {
        total_stock_list = dataList;
        readHotLoss();
        renderGrid(groupDataByHeight(total_stock_list));
      });

    let mode = 'reason'

    function switchTable() {
      if (mode === 'reason') {
        renderGrid(groupDataByHeight(total_stock_list));
      } else {
        renderGrid(groupDataByBk(total_stock_list));
      }
    }

    function groupDataByBk(dataList) {
      mode = 'reason';
      let groupData = {}
      Object.keys(dataList).reverse().forEach(function (date) {
        groupData[date] = Object.values(dataList[date].reduce((acc, {reason, name}) => {
          acc[reason] ||= {name: reason, content: reason, num: 0, stock_list: []};
          acc[reason].num += 1;
          acc[reason].stock_list.push(name);
          return acc;
        }, {}));
        groupData[date].sort((a, b) => b.num - a.num);
      });

      return groupData;
    }

    function groupDataByHeight(dataList) {
      mode = 'const_num';
      let groupData = {}

      Object.keys(dataList).reverse().forEach(function (date) {
        let maxHeight = 0;
        let tmpList = dataList[date].reduce((acc, {const_num, name, last_limit_ts, const_desc}) => {
          maxHeight = Math.max(maxHeight, const_num);
          acc[const_num] ||= {name: const_num, content: 0, num: 0, stock_list: []};
          acc[const_num].num += 1;

          if (getTimeStrFromTs(last_limit_ts).slice(0, 5) === '09:25') {
            name = `_${name}_`;
          }
          if (const_desc.includes('天')) {
            name = `#${name}#`;
          }
          acc[const_num].stock_list.push(name);
          return acc;
        }, {});
        for (i = 1; i <= maxHeight + 1; i++) {
          if (!tmpList[i]) {
            tmpList[i] = {name: i, content: `<span class="empty">${i}<span>`, num: 0, stock_list: []};
          } else {
            tmpList[i].content = tmpList[i].num;
            if (tmpList[i].num <= 3) {
              tmpList[i].content = tmpList[i].stock_list.map(function (item) {
                if (/#.*#/.test(item)) {
                  item = `<span class="stock interrupt">${item}</span>`
                }
                return `<span class="stock">${item}</span>`;
              }).join('<br/>')
            }
          }
        }
        deleteDictKey(tmpList, 0);
        groupData[date] = Object.values(tmpList);
        groupData[date].sort((a, b) => a.name - b.name);
      });

      return groupData;
    }

    document.addEventListener('keydown', function (event) {
      if (event.code === 'Escape') {
        tooltip.style.display = 'none';
        tooltipTrend.style.display = 'none';
        stockTable.style.display = 'none';
        focusMode = 'free'
      }
      if (event.key === '1') {
        renderGrid(groupDataByBk(total_stock_list));
      }
      if (event.key === '2') {
        renderGrid(groupDataByHeight(total_stock_list));
      }
    });

    function renderGrid(data) {
      table.innerHTML = '';

      let thead = document.createElement('thead');
      let headerRow = document.createElement('tr');
      for (let colName in data) {
        let headerCell = document.createElement('th');
        headerCell.textContent = colName;
        headerRow.appendChild(headerCell);
      }
      thead.appendChild(headerRow);
      table.appendChild(thead);

      let tbody = document.createElement('tbody');

      let maxRows = Math.max(...Object.values(data).map(col => col.length));
      for (let i = 0; i < maxRows; i++) {
        let row = document.createElement('tr');
        for (let colName in data) {
          let cell = document.createElement('td');
          row.appendChild(cell);
          renderCell(cell, data[colName][i] || {})
        }
        tbody.appendChild(row);
      }
      table.appendChild(tbody);

      thead.addEventListener('click', function (event) {
        if (event.target.tagName === 'TH') {
          let colName = event.target.textContent;

          stockListInTable = total_stock_list[colName];
          show_stocks_table();
        }
      });

      tbody.addEventListener('click', function (event) {
        if (event.target.tagName === 'TD') {
          let cell = event.target;
          let stock_num = cell.getAttribute('stock_num');
          if (!stock_num) return;
          let cellRect = cell.getBoundingClientRect();
          let clickX = event.clientX - cellRect.left;

          if (clickX < cellRect.width / 2 && mode === 'reason') {
            highlightCells(cell.getAttribute('name'));
          } else {
            let colName = table.rows[0].cells[event.target.cellIndex].innerHTML;
            focusMode = 'selected'
            show_tooltip(cell);
            setSelectedCell(cell);

            changeStockListInTable(colName, cell);
            show_stocks_table();
          }
        }

        if (event.target.classList.contains('stock')) {
          highlightStocks(event.target.textContent);
        }
      });
      tbody.addEventListener('mouseover', function (event) {
        if (event.target.tagName === 'TD') {
          let cell = event.target;
          let stock_num = cell.getAttribute('stock_num');
          if (focusMode === 'selected') return;
          show_tooltip(cell);
          setSelectedCell(cell);

          // let colName = table.rows[0].cells[event.target.cellIndex].innerHTML;
          // changeStockListInTable(colName, cell);
          // show_stocks_table();
        }
      });
    }

    function renderCell(cell, value) {
      if (Object.entries(value).length === 0) return;
      cell.innerHTML = value['content'];
      cell.setAttribute('name', value['name']);
      cell.setAttribute('stock_num', value['num']);
      addDotClass(cell, value['num']);
    }

    function setSelectedCell(cell) {
      if (selectedCell) {
        selectedCell.classList.remove('select-cell')
      }
      selectedCell = cell
      cell.classList.add('select-cell')
    }

    function highlightCells(value) {
      let cells = document.querySelectorAll('td');
      color = getRandomColor();
      for (let cell of cells) {
        if (cell.getAttribute('name') === value && cell.getAttribute('stock_num') > 0) {
          if (cell.style.backgroundColor) {
            cell.style.backgroundColor = "";
            cell.style.color = '';
          } else {
            cell.style.backgroundColor = color;
            cell.style.color = '#fff';
          }
        }
      }
    }

    function highlightStocks(value) {
      let cells = document.querySelectorAll('span.stock');
      color = getRandomColor();
      for (let cell of cells) {
        if (cell.textContent.replaceAll(/[_#]/g, '') === value.replaceAll(/[_#]/g, '')) {
          if (cell.style.backgroundColor) {
            cell.style.backgroundColor = "";
            cell.style.color = '';
          } else {
            cell.style.backgroundColor = color;
            cell.style.color = '#fff';
          }
        }
      }
    }

    function show_tooltip(cell) {
      tooltip.textContent = [cell.getAttribute('stock_num')].join(' | ');

      // 计算tooltip的位置
      let boundingRect = cell.getBoundingClientRect();
      let tooltipX = boundingRect.right + window.pageXOffset;
      let tooltipY = boundingRect.bottom + window.pageYOffset - 30;

      tooltip.style.display = 'block';
      tooltip.style.left = tooltipX + 'px';
      tooltip.style.top = tooltipY + 'px';
    }

    function show_tooltip_trend(symbol) {
      let code = getExchangeCode(`${symbol}`);
      tooltipTrend.textContent = '';
      if (!code) {
        tooltipTrend.style.display = 'none';
        return
      }

      let timestamp = new Date().getTime();

      let img1 = document.createElement("img");
      img1.src = `https://image2.sinajs.cn/newchart/min/n/${code}.gif?t=${timestamp}`;
      tooltipTrend.appendChild(img1);
      let img2 = document.createElement("img");
      img2.src = `https://image2.sinajs.cn/newchart/daily/n/${code}.gif?t=${timestamp}`;
      tooltipTrend.appendChild(img2);
      let img3 = document.createElement("img");
      img3.src = `https://image2.sinajs.cn/newchart/weekly/n/${code}.gif?t=${timestamp}`;
      tooltipTrend.appendChild(img3);

      tooltipTrend.classList.add('right-top');

      tooltipTrend.style.display = 'block';

      let infoCardDiv = document.createElement("div");
      infoCardDiv.classList.add('stock-info', 'card-panel', 'teal');
      tooltipTrend.prepend(infoCardDiv);
      fetch(`/stock_info/${symbol}`).then(response => response.json())
        .then(jsonData => {
          infoCardDiv.innerHTML = `
        <div class="card-content compact-content">
          <p><strong>主题投资:</strong> ${jsonData['主题投资']}</p>
          <p><strong>主营业务:</strong> ${jsonData['主营业务']}</p>
          <p><strong>公司亮点:</strong> ${jsonData['公司亮点']}</p>
          <p><strong>行业:</strong> ${jsonData['行业']}</p>
          <p><strong>概念:</strong> ${jsonData['概念']}</p>
          <p><strong>地域:</strong> ${jsonData['地域']}</p>
          <p><strong>风格:</strong> ${jsonData['风格']}</p>
          <p><strong>流通市值:</strong> ${jsonData['流通市值']}</p>
        </div>
    `;
        });
    }

    function addDotClass(element, value) {
      let num = value
      const dotClasses = [
        {'condition': num >= 80, 'className': 'red-dot3'},
        {'condition': num >= 50, 'className': 'red-dot2'},
        {'condition': num >= 30, 'className': 'red-dot1'},
        {'condition': num >= 20, 'className': 'green-dot3'},
        {'condition': num >= 10, 'className': 'green-dot2'},
        {'condition': num >= 5, 'className': 'green-dot1'},
      ];

      for (dotClass in dotClasses) {
        if (dotClasses[dotClass].condition) {
          element.classList.add('dot', dotClasses[dotClass].className);
          return
        }
      }
    }

    function show_stocks_table() {
      stockTable.style.display = 'block';
      let tbody = stockTable.getElementsByTagName('tbody')[0];
      tbody.innerHTML = '';
      stockListInTable.forEach(function (jsonData) {
        const tr = document.createElement('tr')
        tr.innerHTML = `
          <td>${jsonData['symbol']}</td>
          <td>${jsonData['name']}</td>
          <td data-v=${jsonData['limit_ts']}>${getTimeStrFromTs(jsonData['limit_ts'])}</td>
          <td>${getTimeStrFromTs(jsonData['last_limit_ts'])}</td>
          <td>${jsonData['const_desc']}</td>
          <td>${jsonData['const_num']}</td>
          <td>${(jsonData['master_net_amount'] / 10 ** 8).toFixed(2)}亿</td>
          <td>${(jsonData['amount'] / 10 ** 8).toFixed(2)}亿</td>
          <td>${jsonData['act_turnover']}%</td>
          <td>${(jsonData['act_flow_amount'] / 10 ** 8).toFixed(2)}亿</td>
          <td>${jsonData['block']}</td>
          <td>${jsonData['reason']}</td>
          <td>${(jsonData['limit_amount'] / 10 ** 8).toFixed(2)}亿</td>
          <td>${(jsonData['max_limit_amount'] / 10 ** 8).toFixed(2)}亿</td>
          <td>${jsonData['together_num']}</td>
      `;
        tbody.appendChild(tr);
        $(tr).hover(function () {
          show_tooltip_trend(jsonData['symbol'])
        });
        $(stockTable).mouseleave(function () {
          tooltipTrend.style.display = 'none';
        });
      });
    }

    const sortingOrder = {};
    stockTable.getElementsByTagName('thead')[0].addEventListener('click', function (event) {
      if (event.target.tagName === 'TH') {
        let colName = event.target.getAttribute('data-k');
        sortingOrder[colName] = sortingOrder[colName] === 'asc' ? 'desc' : 'asc';
        stockListInTable.sort(function (a, b) {
          const sortOrder = sortingOrder[colName] === 'asc' ? 1 : -1;
          if (isNaN(a[colName]) || isNaN(b[colName])) {
            return sortOrder * a[colName].localeCompare(b[colName]);
          } else {
            // 如果是数字则直接比较
            return sortOrder * (a[colName] - b[colName]);
          }
        });
        show_stocks_table();
      }
    });

    stockTable.getElementsByTagName('tbody')[0].addEventListener('click', (event) => {
      if (event.target.tagName === 'TD') {
        let tr = event.target.parentElement;
        let trList = tr.querySelectorAll('td');
        let symbol = trList[0].textContent;
        let ts = trList[2].getAttribute('data-v');
        let date = getDateStrFromTs(ts);
        window.open(`/chart?date=${date}&period=F5&symbol=${symbol}`, "_blank");
      }
    });
  </script>

  <script>
    document.addEventListener('keydown', function (event) {
      if (event.code === 'ArrowUp' || event.code === 'ArrowDown' || event.code === 'ArrowLeft' || event.code === 'ArrowRight') {
        let cell = getAdjacentCell(selectedCell, event.code);
        if (cell.tagName !== 'TD') return;
        if (cell) {
          let colName = table.rows[0].cells[cell.cellIndex].innerHTML;
          focusMode = 'selected'
          show_tooltip(cell);
          setSelectedCell(cell);

          changeStockListInTable(colName, cell);
          show_stocks_table();
        }
        event.preventDefault();
      }
    });

    function getAdjacentCell(cell, direction) {
      if (!cell) return;
      let row = cell.parentNode.rowIndex;
      let col = cell.cellIndex;

      let numRows = table.rows.length;
      let numCols = table.rows[0].cells.length;

      switch (direction) {
        case "ArrowUp":
          return row > 0 ? table.rows[row - 1].cells[col] : null;
        case "ArrowRight":
          return col < numCols - 1 ? table.rows[row].cells[col + 1] : null;
        case "ArrowDown":
          return row < numRows - 1 ? table.rows[row + 1].cells[col] : null;
        case "ArrowLeft":
          return col > 0 ? table.rows[row].cells[col - 1] : null;
        default:
          return null;
      }
    }

    function changeStockListInTable(colName, cell) {
      stockListInTable = total_stock_list[colName].filter(item => String(item[mode]) === cell.getAttribute('name'));
    }

    function readHotLoss() {
      fetch('/hot_lose_data').then(response => response.json())
        .then(dataList => {
          let tbody = document.createElement('tbody');

          let row1 = document.createElement('tr');
          let row2 = document.createElement('tr');
          let dateList = Object.keys(total_stock_list).reverse();
          for (let index in dateList) {
            index = parseInt(index);
            let date = dateList[index];
            let preDate = dateList[index + 1];

            let cell1 = document.createElement('td');
            row1.appendChild(cell1);
            if (preDate) {
              cell1.innerHTML = total_stock_list[preDate]
                .filter(item => item.const_num >= 4 && dataList[date][0].includes(item.symbol))
                .sort((a, b) => (a['const_num'] > b['const_num']))
                .map(item => `<span class="stock">${item['name']}</span>`)
                .join('<br/>');
            } else {
              cell1.innerHTML = '';
            }

            let cell2 = document.createElement('td');
            row2.appendChild(cell2);
            if (preDate) {
              cell2.innerHTML = total_stock_list[preDate]
                .filter(item => item.const_num >= 4 && dataList[date][1].includes(item.symbol))
                .sort((a, b) => (a['const_num'] > b['const_num']))
                .map(item => `<span class="stock">${item['name']}</span>`)
                .join('<br/>');
            } else {
              cell2.innerHTML = '';
            }
          }
          tbody.appendChild(row1);
          tbody.appendChild(row2);
          document.getElementById('hot-lose-grid').appendChild(tbody);


          tbody.addEventListener('click', function (event) {
            if (['const_num'].includes(mode) && event.target.classList.contains('stock')) {
              highlightStocks(event.target.textContent);
            }
          });
        });
    }
  </script>
{% endblock %}
