<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自定义板块</title>
    <style>
        .tooltip-big {;
            width: 1640px;
            height: 340px;
        }
    </style>
    <link rel="stylesheet" href="/static/table.css">
</head>
<body>
<div class="fixed-links">
    {% for key, value in direction_list.items() %}
        <a href="?direction={{ key }}" {% if direction == key %}class="highlight"{% endif %}>{{ value['name'] }}</a>
    {% endfor %}
</div>

<div id="grid-container">
    <table id="grid"></table>
    <div id="tooltip" style="display:none;"></div>
    <div id="tooltip-trend" class="tooltip-big" style="display:none;"></div>
</div>

<dialog id="myDialog" style="overflow: hidden;">
    <span class="close-button" onclick="closeDialog()">×</span>
    <iframe id="iframeContent" style="width: 100%; height: 100%; border: none;"></iframe>
</dialog>
<script type="text/javascript" src="/static/table.js"></script>
<script>
    let data = {{ data | safe }};
    const KLINE_PERIOD = 'D';

    renderGrid(data);

    function addDotClass(element, value) {
        let price = value[2]
        const dotClasses = [
            {'condition': price >= 15, 'className': 'red-dot3'},
            {'condition': price >= 9.6, 'className': 'red-dot2'},
            {'condition': price >= 5, 'className': 'red-dot1'},
            {'condition': price <= -5, 'className': 'green-dot1'},
            {'condition': price <= -9, 'className': 'green-dot2'},
            {'condition': price <= -15, 'className': 'green-dot3'},
        ];
        dotClasses.forEach((dotClass) => {
            if (dotClass.condition) {
                element.classList.add('dot', dotClass.className);
            }
        });
    }
</script>
</body>
</html>