{% extends '_layout.html' %}
{% block head %}
  <title>自定义板块</title>
  <link rel="stylesheet" href="/static/table.css">
{% endblock %}
{% block content %}
  <div id="fixed-links-container" class="right-top">
    <div class="fixed-links">
      {% for key, value in direction_list.items() %}
        {{ create_link({'direction':key}, direction == key, value['name']) | safe }}
      {% endfor %}
    </div>
  </div>

  <div id="grid-container">
    <table id="grid" class="striped centered"></table>
    <div id="tooltip" style="display:none;"></div>
    <div id="tooltip-trend" style="display:none;"></div>
  </div>

  <dialog id="chartDialog" style="overflow: hidden;">
    <span class="close-button" onclick="closeDialog()">×</span>
    <iframe id="iframeContent" style="width: 100%; height: 100%; border: none;"></iframe>
  </dialog>
{% endblock %}
{% block footer %}
  <script src="/static/table.js"></script>
  <script>
    let data = {{ data | safe }};
    const KLINE_PERIOD = 'D';

    renderGrid(data);

    function addDotClass(element, value) {
      let price = value[2]
      const dotClasses = [
        {'condition': price >= 15, 'className': 'red-dot3'},
        {'condition': price >= 9.6, 'className': 'red-dot2'},
        {'condition': price >= 5, 'className': 'red-dot1'},
        {'condition': price <= -15, 'className': 'green-dot3'},
        {'condition': price <= -9.6, 'className': 'green-dot2'},
        {'condition': price <= -5, 'className': 'green-dot1'},
      ];
      dotClasses.forEach((dotClass) => {
        if (dotClass.condition) {
          element.classList.add('dot', dotClass.className);
        }
      });
    }
  </script>
{% endblock %}
