{% extends '_layout.html' %}
{% block head %}
  <title>涨停买卖</title>
  <style>
    #grid-container {
      width: 1800px;
      margin: auto;
    }

    table {
      border-collapse: collapse;
    }

    th {
      color: white;
      position: sticky;
      top: 0;
    }

    td, th {
      padding: 0;
      white-space: nowrap;
      width: 100px;
      position: relative;
      cursor: pointer;
      border-radius: 0;
    }

    #grid tr:hover {
      background-color: rgba(0, 139, 125, 0.5);
    }

    .red1 {
      color: #FF8800;
    }

    .red2 {
      color: #ff0000;
    }

    .red3 {
      color: #f500ff;
    }

    .green1 {
      color: #00f7ff;
    }

    .green2 {
      color: #00ff00;
    }

    .green3 {
      color: #1619de;
    }

    .divide {
      border-bottom: 3px solid rgba(255, 0, 0, 0.5)!important;
    }
  </style>
{% endblock %}
{% block content %}
  <div id="grid-container">
    <table id="grid" class="striped centered z-depth-5">
      <thead>
      <tr>
        <th>序号</th>
        <th>名称</th>
        <th>代码</th>
        <th>买入日期</th>
        <th>卖出日期</th>
        <th>买入价格</th>
        <th>卖出价格</th>
        <th>盈亏</th>
        <th>持仓天数</th>
        <th>模式</th>
        <th>涨停密度</th>
        <th>连板数</th>
      </tr>
      </thead>
      <tbody id="json-table"></tbody>
    </table>
  </div>
{% endblock %}
{% block footer %}
  <script>
    const period = '{{ request_args.get('period', 'F5') }}';
    fetch(document.URL.replace('limit_up_bs', 'limit_up_bs_data')).then(response => response.json())
      .then(jsonData => {
        const reversedKeys = Object.keys(jsonData).reverse();
        const jsonTable = document.getElementById('json-table');
        let lastDate = ''
        reversedKeys.forEach(key => {
          const item = jsonData[key];
          const row = jsonTable.insertRow();

          row.insertCell(0).innerHTML = key;
          row.insertCell(1).innerHTML = item['name'];
          row.insertCell(2).innerHTML = item['symbol'];
          row.insertCell(3).innerHTML = item['buy_date'];
          row.insertCell(4).innerHTML = item['sell_date'];
          row.insertCell(5).innerHTML = item['buy_price'].toFixed(2);
          row.insertCell(6).innerHTML = item['sell_price'].toFixed(2);

          let profitCell = row.insertCell(7);
          profitCell.innerHTML = item['profit'].toFixed(2);
          addDotClass(profitCell, item['profit'])

          row.insertCell(8).innerHTML = item['days'] + 1;
          row.insertCell(9).innerHTML = item['mode'];
          row.insertCell(10).innerHTML = item['const_density'];
          row.insertCell(11).innerHTML = item['const_num'];

          if (lastDate && lastDate !== item['buy_date']) {
            console.log(row)
            row.classList.add('divide');
          }
          lastDate = item['buy_date']

          row.addEventListener('click', () => {
            let dateNumber = String(item['buy_date']);
            if (/\d{8}/.test(dateNumber)) {
              date = dateNumber.substring(0, 4) + '-' + dateNumber.substring(4, 6) + '-' + dateNumber.substring(6, 8);
            } else {
              date = dateNumber.substring(0, 4) + '-' + dateNumber.substring(5, 7) + '-' + dateNumber.substring(8, 10);
            }

            window.open(`/chart?date=${date}&period=${period}&symbol=${item['symbol']}`, "_blank");
          });
        });
      });

    function addDotClass(element, price) {
      const colorClasses = [
        {'condition': price >= 30, 'className': 'red3'},
        {'condition': price >= 20, 'className': 'red2'},
        {'condition': price >= 10, 'className': 'red1'},
        {'condition': price <= -10, 'className': 'green3'},
        {'condition': price <= -20, 'className': 'green2'},
        {'condition': price <= -30, 'className': 'green1'},
      ];
      colorClasses.forEach((dotClass) => {
        if (dotClass.condition) {
          element.classList.add('dot', dotClass.className);
        }
      });
    }
  </script>
{% endblock %}
