{% extends '_layout.html' %}
{% block head %}
  <title>北向资金</title>
  <style>
    #chart-container {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    #dayChart, #weekChart, #monthChart, #yearChart {
      flex: 1;
      box-sizing: border-box;
    }
  </style>
{% endblock %}
{% block content %}
  <div id="chart-container">
    <div id="dayChart"></div>
    <div id="weekChart"></div>
    <div id="monthChart"></div>
    <div id="yearChart"></div>
  </div>
{% endblock %}
{% block footer %}
  <script src="/static/third/echarts.min.js"></script>
  <script src="/static/echart2.js"></script>
  <script>
    let dayCounts = {{ daily_count | safe }};
    let weekCounts = {{ weekly_count | safe }};
    let monthCounts = {{ monthly_count | safe }};
    let yearCounts = {{ yearly_count | safe }};

    let dayChart = echarts.init(document.getElementById('dayChart'));
    dayChart.setOption(generateChartConfig(dayCounts));

    let weekChart = echarts.init(document.getElementById('weekChart'));
    weekChart.setOption(generateChartConfig(weekCounts));

    let monthChart = echarts.init(document.getElementById('monthChart'));
    monthChart.setOption(generateChartConfig(monthCounts));

    let yearChart = echarts.init(document.getElementById('yearChart'));
    yearChart.setOption(generateChartConfig(yearCounts));
  </script>
{% endblock %}
