{% extends '_layout.html' %}
{% block head %}
  <title>盘面亮点</title>
  <link rel="stylesheet" href="/static/data_table.css">
  <style>
    #main-grid td {
      text-align: left;
    }

    #main-grid td span {
      margin-left: 3px;
    }

    #main-grid td span.time {
      background-color: #a2a2a2;
    }

    #main-grid td span.tag {
      background-color: #fbc02d;
    }

    #main-grid td span.bk {
      background-color: #a92dfb;
    }

    #main-grid td span.detail {
      color: #676767;
      font-size: 12px;
    }

    #main-grid td span.badge {
      color: #FFF;
      padding: 0 3px;
      border-radius: 5px;
    }
  </style>
{% endblock %}
{% block content %}

  <div id="grid-container">
    <table id="main-grid" class="striped centered"></table>
    <div id="tooltip-trend" style="display:none;"></div>
  </div>

{% endblock %}
{% block footer %}
  <script src="/static/third/jquery-3.7.1.min.js"></script>
  <script>
    let table = document.getElementById('main-grid');
    let tooltipTrend = document.getElementById('tooltip-trend');

    document.addEventListener('keydown', function (event) {
      if (event.code === 'Escape') {
        tooltipTrend.style.display = 'none';
      }
    });

    fetch(`/notice_data`).then(response => response.json())
      .then(dataList => {
        renderGrid(Object.fromEntries(Object.entries(dataList).reverse()));
      });

    function renderGrid(data) {
      table.innerHTML = '';

      let thead = document.createElement('thead');
      let headerRow = document.createElement('tr');
      for (let colName in data) {
        let headerCell = document.createElement('th');
        headerCell.textContent = colName;
        headerRow.appendChild(headerCell);
      }
      thead.appendChild(headerRow);
      table.appendChild(thead);

      let tbody = document.createElement('tbody');

      let maxRows = Math.max(...Object.values(data).map(col => col.length));
      for (let i = 0; i < maxRows; i++) {
        let row = document.createElement('tr');
        for (let colName in data) {
          let cell = document.createElement('td');
          row.appendChild(cell);
          renderCell(cell, data[colName][i] || {})
        }
        tbody.appendChild(row);
      }
      table.appendChild(tbody);

      tbody.addEventListener('click', function (event) {
        let target = event.target;
        if (target.classList.contains('stock')) {
          let symbol = target.getAttribute('data-v');
          let colName = table.rows[0].cells[target.parentNode.cellIndex].innerHTML;
          window.open(`/chart?date=${colName}&period=F5&symbol=${symbol}`, "_blank");
        }
      });

      tbody.addEventListener('mouseover', function (event) {
        if (event.target.classList.contains('stock')) {
          let symbol = event.target.getAttribute('data-v');
          showTooltipTrend(symbol);
          adjTooltipTrendPosition(event.target);
        }
      });

      let tags = document.querySelectorAll('.badge.tag');
      tags.forEach(function (node) {
        if (['大面', '核按钮', '人气杀跌', '天地板', '老龙头反抽'].includes(node.textContent.trim())) {
          node.style.backgroundColor = 'green';
        }
        if (['人气大长腿', '反包板'].includes(node.textContent.trim())) {
          node.style.backgroundColor = 'red';
        }
      });
    }

    function renderCell(cell, value) {
      if (Object.entries(value).length === 0) return;
      cell.innerHTML = `
<span class="badge time">${getTimeStrFromTs(value['TimeMin'])}</span>
<span class="badge bk">${value['ZSName']}</span>
<span class="badge tag">${value['TagName']}</span>
${value['StockList'].map(item => `<span class="stock" data-v="${item[0]}">${item[1]}</span>`).join(' | ')}<br/>
<span class="detail">${value['Detail']}</span>
`;
    }
  </script>
{% endblock %}
