{% extends '_layout.html' %}
{% block head %}
  <title>历史交割单</title>
  <style>
    #grid-container {
      width: 1800px;
      margin: auto;
    }

    table {
      border-collapse: collapse;
    }

    th {
      color: white;
      position: sticky;
      top: 0;
    }

    td, th {
      padding: 0;
      white-space: nowrap;
      width: 100px;
      position: relative;
      cursor: pointer;
      border-radius: 0;
    }

    #grid tr:hover {
      background-color: rgba(0, 139, 125, 0.5);
    }

    .select-row {
      background-color: rgba(255, 0, 0, 0.15) !important;
    }
  </style>
{% endblock %}
{% block content %}
  <div id="grid-container">
    <table id="grid" class="striped centered z-depth-5">
      <thead>
      <tr>
        <th>序号</th>
        <th>成交日期</th>
        <th>证券代码</th>
        <th>证券名称</th>
        <th>操作</th>
        <th>成交数量</th>
        <th>成交价格</th>
        <th>盈亏额</th>
      </tr>
      </thead>
      <tbody id="table-content"></tbody>
    </table>
  </div>
{% endblock %}
{% block footer %}
  <script>
    const period = '{{ request_args.get('period', 'F5') }}';
    fetch(document.URL.replace('trade_history', 'trade_history_data')).then(response => response.json())
      .then(jsonData => {
        const reversedKeys = Object.keys(jsonData).reverse();
        const tableContent = document.getElementById('table-content');
        reversedKeys.forEach(key => {
          const item = jsonData[key];
          const row = tableContent.insertRow();

          row.insertCell(0).innerHTML = key;
          row.insertCell(1).innerHTML = item['成交日期'];
          row.insertCell(2).innerHTML = item['证券代码'];
          row.insertCell(3).innerHTML = item['证券名称'];
          row.insertCell(4).innerHTML = item['操作'];
          row.insertCell(5).innerHTML = item['成交数量'];
          row.insertCell(6).innerHTML = item['成交价格'].toFixed(2);

          let profitCell = row.insertCell(7);
          profitCell.innerHTML = item['profit_amount'].toFixed(2);

          addDotClass(profitCell, item['profit_amount'])

          row.addEventListener('click', () => {
            let dateNumber = String(item['成交日期']);
            if (/\d{8}/.test(dateNumber)) {
              date = dateNumber.substring(0, 4) + '-' + dateNumber.substring(4, 6) + '-' + dateNumber.substring(6, 8);
            } else {
              date = dateNumber.substring(0, 4) + '-' + dateNumber.substring(5, 7) + '-' + dateNumber.substring(8, 10);
            }

            window.open(`/chart?date=${date}&period=${period}&symbol=${item['证券代码']}`, "_blank");
          });
        });
      });

    function addDotClass(element, price) {
      const colorClasses = [
        {'condition': price >= 30000, 'className': 'red3'},
        {'condition': price >= 10000, 'className': 'red2'},
        {'condition': price >= 5000, 'className': 'red1'},
        {'condition': price <= -5000, 'className': 'green3'},
        {'condition': price <= -10000, 'className': 'green2'},
        {'condition': price <= -30000, 'className': 'green1'},
      ];
      colorClasses.forEach((dotClass) => {
        if (dotClass.condition) {
          element.classList.add('dot', dotClass.className);
        }
      });
    }
  </script>
{% endblock %}
