{% extends '_layout.html' %}
{% block head %}
  <title>交易额</title>
  <style>
    #chart-container {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    #turnoverChart {
      flex: 1;
      box-sizing: border-box;
    }
  </style>
{% endblock %}
{% block content %}
  <div id="chart-container">
    <div id="turnoverChart"></div>
  </div>
{% endblock %}
{% block footer %}
  <script src="/static/third/echarts.min.js"></script>
  <script src="/static/echart2.js"></script>
  <script>
    let data = {{ data | safe }};

    let chart = echarts.init(document.getElementById('turnoverChart'));
    chartOption = generateChartConfig(data);
    chartOption['series'][0]['markLine'] = {
      data: [
        {
          name: '非常火爆', yAxis: 15000, lineStyle: {color: 'rgb(245,0,255)'}
        },
        {
          name: '火爆', yAxis: 12000, lineStyle: {color: 'rgb(255,0,0)'}
        },
        {
          name: '万亿', yAxis: 10000, lineStyle: {color: 'rgb(255,115,0)'}
        },
        {
          name: '低迷', yAxis: 8000, lineStyle: {color: 'rgb(0,229,53)'}
        },
        {
          name: '极致低迷', yAxis: 6000, lineStyle: {color: 'rgb(22,32,222)'}
        }
      ],
    };

    chartOption['dataZoom'] = {
      show: true,
      start: 80,
      end: 100,
    };
    chart.setOption(chartOption);
  </script>
{% endblock %}
